node_modules

# Editor stuff
.vscode

# Generated bundle
public/*.js

# Hide secrets
config.js

# Weird IntelliJ folder
.idea

#Ignore everything in server directory except test tiles
Server/*
Client/*
!Server/Test1.txt
!Server/Test2.txt
!Server/Test3.txt
